*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: black;
    color: white;
}

#home{
    width: 100%;
    height: 100vh;
    /* background-image: url(/Assests/images/backg.png); */
    background-size: cover;
    background-position: center;
    
}

#aboutme{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: right 0.5;
}

#skills{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#projects{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#contact{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    /* background-color: yellow; */
    padding: 20px 10%;
}

nav{
    /* position: sticky;  for sticky nav bar
    top: 0;
    left: 0;
    z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 80px;
    height: 80px;
    margin-left: 60px ;
    border-radius: 20px;
    border-color: none;
    transition: transform 0.5s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
}

.info{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.info h1{
    padding-left: 40px;
}

.name{
    font-size: 20px;
    /* margin-left: -20px; */
    font-family: 'poppins';
    padding-top: 12px;
    color: blue;
    font-weight: bold;
}
.name span{
    font-family: 'Kaushan Script', cursive;
    color:rgb(255, 115, 0);
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;   /* top & bottom , left & right */
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    
}
a:hover{
    transform: scale(1.1);
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 115, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:  100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px); /* Optional: Add a slight vertical movement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-subsection{
    padding: 20px ;
    /* background-color: red; */
    
}

.container-1{
    background-color: black;
    
}
.row{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-text{
    margin: 10px;
    /* background-color: #010d18; */
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    /* box-shadow: 0px 2px 15px 2px #0a447a; */
    flex-basis: 50%;
    text-align: center;
}



.animate-fade-in {
    animation: fade-in 5s ease infinite;
    animation-delay: 3s;
    transition: 2s;
}

.header-text p{
    font-size: 60px;;
    color: rgb(255, 115, 0);
    font-weight: bold;
    font-family: cursive;
}

.header-text p span{
    color: blue;
}

.header-text h1{
    font-family: cursive;
    font-size: 40px;
    padding: 10px;
}
.header-text h2{
    margin-left: 70px;
}
.header-text h2 span{
    color: blue;
}

.header-image{
    flex-basis: 35%;
    padding: 20px;
}

.header-image img{
    border-radius: 12px;
    height: 25.5rem;
    width: 25.5rem;
    background: #0a447a;
    transition: transform 0.9s;
}
.header-image img:hover{
    background: #0a447a;
    transform: scale(1.2);

}


/* -------------about me section ------- */

.about-me-section{
    padding: 20px 0;
}

.about-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 40%;
    padding: 8px 0;
    
}
.about-col-1 img{
    width: 22.5rem;
    border-radius: 15px;
    transition: transform 0.9s;
}
.about-col-1 img:hover{
    transform: scale(1.1);
}

.about-col-2{
    /* background-color: #5265b8; */
    flex-basis: 60%;
    padding: 15px 0;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 2px #0a447a;
    text-align: center;
}

.about-col-2 h1{
    padding: 15px 100px;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
}

.about-col-2 p{
    padding: 22px;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 16px;

}


/* ------------------ skill-set-section -------- */



.skill-section{
    margin: 50px;
}
.tab-title{
    font-size: 18px;
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.tab-links{
    position: relative;
    cursor: pointer;
    background: #476785;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}
.tab-links:hover{
    background: #c04308;
    transform: translateY(-10px);
}
  
.tab-links p{
    font-size: 20px;
    font-weight: 500;
}
.tab-links::after{
    content: '';
    transition: 0.5;
}
.tab-links.active-link{
    background:rgb(255, 115, 0);
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:rgb(255, 115, 0);
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.container-2{
    align-items: center;
    /* text-align: center; */
    margin: 60px;
}

.container-2 .container-2-skills{
    margin-top: 5px;
    font-size: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 2px #0a447a;
    margin-right: 45%;
    text-align: center;
    transition: background 0.5s, transform 0.5s;
}
.container-2 .container-2-skills:hover{
    background: #032546;
    transform: translateX(20px);
}
.img-1{
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.container-2 .container-2-experience{
    font-size: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 2px #0a447a;
    transition: 2s;
    margin: 0 15% ;
    transition: background 0.5s, transform 0.5s;
}

.container-2 .container-2-experience:hover{
    background: #032546;
    transform: translateX(-20px 5px);
}

.container-2 .container-2-education{
    font-size: 15px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 2px #0a447a;
    transition: 2s;
    margin-left: 45%;
    /* margin-right: 5px; */
    transition: background 0.5s, transform 0.5s;
}

.container-2 .container-2-education:hover{
    background: #032546;
    transform: translateX(-20px);
}

/* -------------------- project section------------------ */
.more-projects{
    align-items: center;
    text-align: center;
    margin: 20px;
}
.more-projects a{
    text-decoration: none;
    color: rgb(255, 115, 0);
    background: #fff;
    border-radius: 8px;
    border-color: rgb(255, 115, 0);
    padding: 10px;
}
.project-section-text{
    margin: 3px 0 0;
}

.project-section-text h1{
    text-align: center;
    padding: 2px;
    color: rgb(255, 115, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-section-text p{
    padding: 5px;
    margin-top: 3px;
    width: 100%;
    text-align: justify;
    font-size: 14px;
    /* font-family: 'Times New Roman', Times, serif; */
}

.project-section-desc{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr)) ;
    grid-gap: 40px;
}

.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

.work img{
    display: block;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
}

.atm{
    width: 26.5rem;
    height: 26.5rem;
}

.budget-app{
    width: 26.5rem;
    height: 22.5rem;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #032546);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-family: 500;
    margin-bottom: 20px;
    color: rgb(255, 115, 0);
}

.layer a {
    width: 2rem;
    height: 1rem;
    text-decoration: none;
    padding-top: 30px;
    color: beige;
}

.work:hover img{
    transform: scale(1.2);
}

.work:hover .layer{
    height: 100%;
}



/* ----------------------------------contact section------------- */


.contact-section{
    margin: 50px;
    align-items: center;
    text-align: center;
}
.contact-row{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contact-left{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 25px;
}

.contact-left p{
    padding: 20px;
    font-size: 22px;
}
.contact-left p span{
    color: rgb(255, 115, 0);
    
}

.contact-mid p span{
    padding: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    font-size: 25px;
    color: rgb(255, 115, 0);
}

.contact-right .socicon{
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
}


.download-cv{
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 115, 0);
}
.download-cv a{
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 115, 0);
    background: #fff;
    padding: 15px;
    font-size: 18px;
}

/* ---------------------footer-section----------------- */
footer {
    padding:20px;
    text-align: center;
    bottom: 0;
    color: rgb(255, 115, 0);

}
footer p span{
    color: #fff;
}
footer a{
    text-decoration: none;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    /* background: rgb(255, 115, 0); */
    color: #fff;
    
}

nav .fas{
    display: none;
}




/* ----------------------css for small screen--------------------------- */

@media only screen and (max-width: 600px ) {

    .container{
        margin:0;
    }
    nav .info img{
        margin: 5px;
    }
    nav .info h1{
        padding: 10px;
        font-size: 16px;
    }

    nav .fas{
        display: block;
        /* font-size: 10px; */
    }
    nav .fas img{
        width: 30px;
        height: 30px;
        border-radius: 8px;
    }

    nav ul{
        position: fixed;
        background: #011324;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 40px;
        z-index: 2;
        transition: right 0.5s;
        padding-right: 5px;
    }

    nav ul li{
        display: block;
        margin: 20px;

    }
    nav i .fas{
        padding-bottom: 20px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        right: 25px;
        padding-bottom:20px;
        cursor: pointer;
        padding-right: 10px;
    }
    .header-subsection{
        margin: 0px;
        padding: 0;
        text-align: center;
    }
    .container-1{
        margin-top: 0;
        padding: 0;
    }
    .header-text{
        width: fit-content;
        text-align: center;
        left: 30px;
    }
    .header-text p{
        font-size: 35px;
    }
    .header-text h1{
        font-size: 20px;
    }
    .header-text h2{
        text-align: justify;
        font-size: 14px;
        margin-left: 0;
    }


    .header-image img{
        height: 10.5rem;
        width: 15.5rem;
    }
    /* -----------------------aboutsection----------------------- */
    .about-col-1 img{
        width: 18rem;
    }
    .about-col-2 h1{
        font-size: 30px;
    }

    /* -----------------------------skills---------------- */

    .skill-section{
        align-items: center;
        text-align: center;
    }
    .tab-title{
        justify-content: space-around;
        margin: 0;
    }
    .tab-links{
        margin: 8px;
    }
    .container-2{
        margin: 15px;
        padding-left: 0;
        text-align: center;
        
        
    }
    .tab-contents{
        margin-left: -30px;
        padding: 0;
        width: 15rem;
        height: fit-content;
        align-items: center;
        text-align: center;
        justify-items: center;
        left: 0;
    }

    .container-2 .container-2-experience{
        margin-left: 0px;
        padding: 10px;
    }
    .container-2 .container-2-education{
        margin-left: 0px;
        padding: 10px; 
    }


    /* -----------------------------project-section---------------- */
    .project-section-text h1{
        font-size: 14px;
    }
    .project-section-text p{
        font-family: 'Times New Roman', Times, serif;
    }

    .more-projects{
        margin-top: 30px;
    }

    /* -----------------------contact- section----------------- */
    .contact-section{
        margin: 0;
        padding: 0;
    }
    .contact-row{
        width: fit-content;
        margin-top: 80px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .contact-left{
        padding-left: -20px;
        margin-left: 0;
        width: 12rem;
        left: 0;
    }
    .contact-left h1{
        font-size: 20px;
    }
    .contact-left p{
        font-size: 15px;
    }
    .contact-right .socicon{
        border-radius: 10px;
        width: 2rem;
        height: 2rem;
        margin-right: 10px;
    }
    .contact-mid p span{
        font-size: 20px;
    }

    .contact-section .download-cv{
        margin-top: 100px;
    }

}









